/*
	_content.css
*/


.parag-gray{
	p{
		color: $color-gray-1;
	}
}

//search nav
// .search-nav-content{
// 	position: relative;
// 	form{
// 		.search-input{
// 			width: 100%;
// 			height: 34px;
// 			margin-left: auto;
// 		}
// 		input{
// 			border: 1px solid $color-1;
// 			transition: all 0.3s ease;
// 			background-color: rgba(white, 0.3);
// 			height: 100%;
// 			width: 100%;
// 			color: $color-2;
// 			padding: 0 60px;
// 			&:focus{
// 				box-shadow: inset 0 0 0px black, -5px -5px 0px 0px darken(white, 12%), 5px 5px 0px 0px $color-2;
// 			}
// 		}
// 	}
// 	button{
//     color: $color-1;
//     padding: 5px 10px;
//     position: absolute;
//     font-size: 20px;
//     top: 0;
//     left: 15px;
//     //right: 0;
//     height: 100%;
//     border: 0;
//     background-color: transparent;
// 	}
// }



//--bnr-slider
.bnr-slider{
	position: relative;
	overflow: hidden;
	.flickity-slider{
		transform: inherit !important;
	}
	.carousel-prev-next{
		width: inherit;
		left: 50%;
		transform: translateX(-50%);
		//position: relative;
	}
	figure{
		height: 700px;
		transition: all 2s ease;
		left: 0 !important;
		.img{
			position: absolute;
			height: 100%;
			width: 100%;
	    background-size: cover;
	    background-position: center;
	   	filter: blur(0px) brightness(120%);
			transition: 
									transform 1.2s ease,
									opacity 1s ease-in-out,
									filter 1s linear 0.5s;
		}
		opacity: 0;
		&.is-selected{
			z-index: 1;
			opacity: 1;
			.img{
				filter: blur(0);
			}
		}
	}
	.desc-content{
		padding: 15px 20px;
		color: white;
	}
	@media(min-width: 992px) {
		.carousel-header-block{
			left: 30px;
		}
	}
	@media(max-width: 991px) {
		font-size: 0.9em;
		.carousel-prev-next{
			width: 100%;
		}
	}
	@media(max-width:370px) {
		word-wrap: break-word;
	}


}
.desc-def{
	transition: all 0.5s ease;
	position: absolute;
	bottom: 0;
	color: black;
	width: 100%;
	background-color: transparent;
}

//--short-productions
.short-productions-items{
	
	figure.col-md-7, figure.col-md-6{
		height: 590px;
	}
	figure.col-md-5{
		height: 295px;
	}
	
	figure{
		position: relative;
		padding: 15px;
		//overflow: hidden;
		.figure-wrapper{
			background-color: white;
			overflow: hidden;
			position: relative;
			transition: all 0.6s ease;
			height: 100%;
			padding: 1px;
			border:1px solid $color-1;
		}
		.img-content{
		}
		.img-content, .img{
			height: 100%;
		}
		.img{
			transition: all 0.8s ease;
			//background-position: center;
			//background-size: contain;
		}
		.desc-content{
			@extend .desc-def;
		}
		&:hover{
			.figure-wrapper{
				box-shadow: 0 0 20px -7px black;
			}
			.img{
				height: 100%;
			}
			.desc-content{
				color: white;
				background-color: $color-1;
			}
		}


		// @media (min-width: 992px){
		// 	&:nth-child(6n+1){
		// 		width: ((100/12)*7)+%;
		// 		height: $height;
		// 	}
		// 	&:nth-child(6n+2), &:nth-child(6n+3), &:nth-child(6n+4), &:nth-child(6n+5), &:nth-child(6n+6){
		// 		width: ((100/12)*5)+%;
		// 		height: ($height/2)-15; // Минус падинг(15) и бордер(0)
		// 	}
		// 	&:nth-last-child(1), &:nth-last-child(2){
		// 		width: ((100/12)*6)+%;
		// 		float: left;
		// 		height: $height;
		// 	}
		// 	&:nth-child(5n+5){
		// 		width: ((100/12)*7)+%;
		// 		float: right;
		// 		height: $height;
		// 	}
		// }
	}
	@media (max-width: 991px) {
		figure{
			width: 100%;
			height: 295px !important;
			.desc-content{
				transform: inherit;
			}
		}
		
	}
}






/* production */
.production-items{
	figure{
		position: relative;
		background-color: white;
		overflow: hidden;
		border: 1px solid $color-1;
		.img{
			transition: all 0.7s ease;
			height: 360px;
		}
		.desc-content{
			@extend .desc-def;
			text-align: center;
		}
		&:hover{
			.img{
				transform: translateY(-10px);
			}
			.desc-content{
				color:white;
				background-color: $color-1;
			}
		}
	}
}

/* contacts */
.contacts{
	.row{
		opacity: 0.85;
	}
}
.contacts-feedback{
	input, textarea{
		@include placeholder-color(black);
		border-bottom-color: black;
	}
}
/* production-article */
.production-article-content{
	.wrapper-color{
		background-color: white;
		padding: 15px;
		height: 100%;
	}
	.desc-content, .img-content{
		height: 470px;
	}
	.desc-content{
		overflow: hidden;
	}
	.img{
		height: 470px;
	}
}
.entry-content{
	color: #424242;
}
/* news */
.news-items{
	
	figure.col-md-7, figure.col-md-6{
		height: 590px;
	}
	figure.col-md-5{
		height: 295px;
	}
	
	figure{
		position: relative;
		padding: 15px;
		//overflow: hidden;
		.cell-hover{
			opacity: 1;
			transition: all 0.8s ease;
		}
		.figure-wrapper{
			background-color: black;
			position: relative;
			transition: all 0.6s ease;
			border:1px solid black;
			border-top: 2px solid black;
			padding: 1px;
			overflow: hidden;
			height: 100%;
		}
		.img-content, .img{
			height: 100%;
		}
		.img{
			filter: grayscale(1);
			transition: all 0.8s ease;
			background-position: center;
			background-size: cover;
		}
		.desc-content{
			@extend .desc-def;
			color: white;
			z-index: 1;
			padding: 15px;
		}
		&:hover{
			.cell-hover{
				opacity: 0;
			}
			.figure-wrapper{
				box-shadow: 0 0 20px -7px black;
			}
			.img{
				filter: grayscale(0);
				height: 100%;
			}
			.desc-content{
				color: white;
				background-color: $color-1;
			}
		}

	}
	@media (max-width: 991px) {
		figure{
			width: 100%;
			height: 295px !important;
			.desc-content{
				transform: inherit;
			}
		}
		
	}
}
