/*
	_content.css
*/
.parag-gray{
	p{
		color: gray;
	}
}



//search nav
// .search-nav-content{
// 	position: relative;
// 	form{
// 		.search-input{
// 			width: 100%;
// 			height: 34px;
// 			margin-left: auto;
// 		}
// 		input{
// 			border: 1px solid $color-1;
// 			transition: all 0.3s ease;
// 			background-color: rgba(white, 0.3);
// 			height: 100%;
// 			width: 100%;
// 			color: $color-2;
// 			padding: 0 60px;
// 			&:focus{
// 				box-shadow: inset 0 0 0px black, -5px -5px 0px 0px darken(white, 12%), 5px 5px 0px 0px $color-2;
// 			}
// 		}
// 	}
// 	button{
//     color: $color-1;
//     padding: 5px 10px;
//     position: absolute;
//     font-size: 20px;
//     top: 0;
//     left: 15px;
//     //right: 0;
//     height: 100%;
//     border: 0;
//     background-color: transparent;
// 	}
// }



//--bnr-slider
.bnr-slider{
	position: relative;
	overflow: hidden;
	padding-bottom: 50px;
	.flickity-slider{
		transform: inherit !important;
	}
	.bnr-carousel{
		background-color: $color-3;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
	.carousel-prev-next{
		width: inherit;
		left: 50%;
		transform: translateX(-50%);
		//position: relative;
	}
	figure{
		height: 545px;
		transition: all 2s ease;
		left: 0 !important;
		.img{
			position: absolute;
			height: 100%;
	    background-size: cover;
	    background-position: center;
	   	filter: blur(0px) brightness(120%);
			transition: 
									transform 1.2s ease,
									opacity 1s ease-in-out,
									filter 1s linear 0.5s;
		}
		opacity: 0;
		&.is-selected{
			z-index: 1;
			opacity: 1;
			.img{
				filter: blur(0);
			}
		}
	}
	.desc-content{
		padding: 15px 20px;
		color: white;
	}
	.button-carousel-nav{	
    position: absolute;
    bottom: 100px;
    right: calc(25% - 21px);
    transform: translateX(50%);
    z-index: 1;
		ul{
			li{
				display: inline-block;
				width: 7px;
				margin: 0 2px;
				height: 7px;
				border-radius: 50%;
				background-color: rgba(white, 0.5);
				&.is-selected{
					background-color: $color-2;
				}
			}
		}
	}
	@media(min-width: 992px) {
		.carousel-header-block{
			left: 30px;
		}
	}
	@media(max-width: 991px) {
		font-size: 0.9em;
		figure{
			height: 220px;
			.desc-content{
				display: none;
			}
		}
		.carousel-prev-next{
			width: 100%;
		}
	}
	@media(max-width:370px) {
		word-wrap: break-word;
	}
}
.img-cloud{
	bottom:0;
	height: 188px;
	position: absolute;
	width: 100%;
	background-image: url('../img/other/cloud.png');
	background-repeat: repeat-x;
	background-position: center bottom;
	z-index: 3;
	pointer-events: none;
	&:before{
		//@extend .claf;
		//width: 100%;
		//z-index: 1;
	} 
}




//--short-gallery
.short-gallery-carousel{
	overflow: visible;
	padding-top: 30px;
	.flickity-viewport{
		padding-top: 100px;
		top: -100px;
		//margin-top: -100px;
		overflow: visible;
	}
	.flickity-slider{
		width: calc(100% + 0px);
		transform: inherit !important;
		position: relative;
	}
	figure{
		left: 0 !important;
		z-index: 0;
		opacity: 0;
		transition: opacity 0.4s ease 0.5s;
		.img-content{
			transition: all 1s cubic-bezier(0.47, 0, 0.75, 0.72);
			overflow:hidden;
			border-radius: 30px;
			filter: blur(80px) brightness(200%);
			transform: scale(0.8);
		}
		.img{
			height: 275px;
			background-position: center;
			background-size: cover;
		}
		.desc-content{
			transition: all 0.4s ease-in-out 0.1s;
			opacity: 0;
			transform: translateY(10px);
		}
		&.is-selected{
			z-index: 1;
			transition: 
									z-index 0s ease 0.5s,
									opacity 0.3s ease 0.5s;
			opacity: 1;
			.img-content{
				//transition: all 1s ease 0.5s;
				filter: blur(0px) ;
				transform: scale(1);
			}
			.desc-content{
				opacity: 1;
				transform: scale(1);
				transition: all 1s ease 0.5s;
			}
		}
	}
	.flickity-prev-next-button{
		top: 140px !important;
	}
	@media (min-width:992px){
		.flickity-prev-next-button.previous{
			left: -50px !important;
		}
		.flickity-prev-next-button.next{
			right: -50px !important;
		}
		// .carousel-prev-next{
		// 	height: 255px;
		// 	.next{
		// 		right: -15px;
		// 	}
		// 	.prev{
		// 		left: -15px;
		// 	}

		// }
	}
	@media (min-width:992px) {
		.short-gallery-carousel{
			padding: 0 50px;
		}
	}
}



//short-services
.short-services{
	.container{
		position: relative;
	}
	.traf-style-1{
		position: absolute;
		height: 131px;
		width: 100%;
		top: -100px;
		z-index:-1;
		&:before, &:after{
			@extend .claf;
			background-size: contian;
			background-repeat: no-repeat;
		}
		&:before{
			background-position: 55% 28px;
			background-image: url('../img/other/traf-1.png');
		}
		&:after{
			background-position: 95% 50px;
			background-image: url('../img/other/traf-2.png');
		}

	}
}









//short-staff
.short-staff{
	.entry-header{
		padding-bottom: 100px;
	}
}
.short-staff-items{
	figure{
		padding: 0 10px;
		.img{
			background-position: center;
			background-size: cover;
			height: 245px;
			border-radius: 30px;
		}
	}
	@media (min-width:992px) {

	}
}

.staff-progress{
	.staff-progress-item{
		width: 100%;
		border-radius: 5px;
		position: relative;
	}
	.progress-line-wrapper{
		width: 100%;
		background-color: rgba(black, 0.1);
		height: 7px;
		position: absolute;
		overflow: hidden;
		border-radius: 5px;
	}
	.progress-line{
		width: 20%;
		border-radius: 5px;
		//transition: all 0.1s ease;
		//transform: translateX(-50%);
		background-color: darken($color-2, 10%);
		height: 100%;
	}
	.progress-persent-wrapper{
		height: 20px;
		width: 20%;
		top: -25px;
		position: absolute;
	}
	.progress-persent{
		text-align: right;
		display: inline-block;
		font-weight: 600;
		width: 100%;
		height: 100%;
		transform: translateX(10px);
		font-size:0.9em;
		right: 0;
	}
	.progresses{
			width: 0%;
	}
}



/*--gallery */
.gallery-items{
	figure{
		.img{
			background-size: cover;
			background-position: center;
			height: 275px;
		}
	}
}
/*--staff */
.staff-items{
	figure{
		.img{
			background-position: center;
			background-size: cover;
			height: 245px;
			border-radius: 30px;
		}
	}
	@media (min-width:992px) {

	}
}
.staff-main{
	figure{
		.img{
			background-position: center;
			background-size: cover;
			height: 245px;
			border-radius: 30px;
		}
	}
}

/*--contacts */
.contacts{
	min-height: 600px;
	.contacts-wrapper{
		background-position: center;
		background-attachment: fixed;
		height: 600px;
		h1{
			//letter-spacing: 10px;
			font-size: 3em;
			
			[class*="divideword"]{
				transition-timing-function: ease;
				transition-duration: 1s;
				transition-property: all;
				display: inline-block;
				opacity: 0;
				transform: scale(0.1);
			}
			&.aos-animate{
				//letter-spacing: 5px;
				[class*="divideword"]{
					font-size: 1em;
					transform: scale(1);
					opacity: 1;

				}
			}
		}
		@media (max-width: 991px) {
			h1{
				font-size: 1.8em;
				//color: $color-4;
			}
		}
	}
	.divideword-1{ 
		transition-delay: 0.6s;
		color: $color-1;
	}
	.divideword-2{ 
		transition-delay: 0.4s;
		color: $color-2;
	}
	.divideword-3{ 
		transition-delay: 0.5s;
		color: $color-3;
	}
	.divideword-4{ 
		transition-delay: 0.7s;
		color: $color-3;
	}
	.img-content{
		img{
			width: 80px;
		}
	}

}